################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Construct/out/build/x64-debug
/Construct/.vs
